{%extends 'base/base.html'%}
{%load static%}

{%block content%}

<div class="ordenes">
    <div class="headerord">
        <div class="container-fluid">
            <form action="GET">
                <input class="form-control mx-sm-3 mb-2" type="search" placeholder="Search" aria-label="Search" name="buscar" value="{{request.GET.buscar}}">
            </form>
        </div>
    <a href="{%url 'crear_ord' %}"><span class="material-icons-outlined" id="add_circle">add_circle</span></a>
        <h1>Ordenes</h1>
    </div>
        <table class="sortable" id="Contenedor">
            <thead>
                <tr>
                    <th>Nombre de la Orden</th>
                    <th>Productos Pedidos</th>
                    <th>Productos Enviados</th>
                    <th>Productos Entregados</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {%if ord%}
                {%for ordenes in ord%}
                <tr>
                    <td class="ord_nombre">{{ordenes.nombre}}</td>
                    <td class="ord_nombre">{{ordenes.producto_pedido}}</td>
                    <td class="ord_nombre">{{ordenes.producto_enviado}}</td>
                    <td class="ord_nombre">{{ordenes.producto_entregado}}</td>
                    <td class="ord_nombre">{{ordenes.estado}}</td>
                    <td><a href="{%url 'editar_ord' ordenes.id %}" class="editar" ><span data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" class="material-icons-outlined">
                        edit
                        </span></a></td>
                        <td ><a  href="{%url 'eliminar_ord' ordenes.pk %}" class="Eliminar"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"  class="material-icons">
                          delete
                          </span></a></td>
                      <td><a data-prod-id="{{ordenes.id}}" data-prod-nombre="{{ordenes.nombre}}" data-prod-pedido="{{ordenes.producto_pedido}}" data-prod-enviado="{{ordenes.producto_enviado}}" data-prod-entregado="{{ordenes.producto_entregado}}" data-prod-estado="{{ordenes.estado}}" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" ><span data-bs-toggle="tooltip" data-bs-placement="top" title="Detalles" class="material-icons-outlined">
                        more_vert
                        </span></a></td>
                        {%include 'ordenes/modales_tabla.html'%}
                        {%endfor%}
                        {%else%}
                        <tr>
                            <h4 id="error">Este prodcuto no Existe</h4>
                        </tr>
                    </tr>
                  {%endif%}
            </tbody>
        </table>
</div>
{%include 'javascript/javascript.html'%}


{%endblock%}